body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.container {
  max-width: 1600px;
}

:root {
  --secondary-text-color: #757575;
  --background-color: #ffffff;
  --hover-color: #2196f3;
}

.logo-a {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
}

address {
  font-style: normal;
  text-decoration: none;
}

header {
  border-bottom: solid 1px #ececec;
  display: flex;
}

.logo-and-nav-el {
  display: flex;
  list-style: none;
}

.logo {
  padding: 24px auto 25px 215px;
  margin-right: 93px;
}

.nav-elements:not(:last-child) {
  margin-right: 45px;
}

.nav-elements-a {
  flex: display;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  color: #212121;
  padding: 32px auto 32px auto;
}

.logo-and-nav-el {
  padding-left: 215px;
}

.contacts {
  display: flex;
  padding: 32px 227px 32px auto;
  list-style: none;
  text-decoration: none;
  text-align: end;
}

.contact-data:not(:last-child) {
  margin-right: 50px;
}

.nav-elements-a:hover,
.nav-elements-a:focus {
  color: var(--hover-color);
}

.contact-mail,
.contact-tel {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--hover-color);
}

.contact-tel:hover,
.contact-tel:focus {
  color: var(--hover-color);
}

footer {
  background-color: #2f303a;
}

.footer-contact-data-email {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff99;
}

.footer-contact-data-.footer-contact-data-email:hover,
.footer-contact-data-email:focus {
  color: var(--hover-color);
}
.footer-contact-data-number {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: #ffffff99;
}

.footer-contact-data-number:hover,
.footer-contact-data-number:focus {
  color: var(--hover-color);
}

.footer-street-name {
  font-size: 14px;

  line-height: 1.71;
  color: #ffffff;
}

.button-portfolio {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--hover-color);
}

.button-main-page {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 41px 10px 42px;
  border-radius: 4px;
  border-width: 0;
}

.web {
  color: blue;
}

.studio {
  color: black;
}

.footer-studio {
  color: #ffffff;
}

.img-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

.img-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.menu-images {
}

.application {
}

.website {
}

.design {
}

.main-page-first-section {
  width: 1600px;
  text-align: center;
  background-color: #2f303a;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  color: #ffffff;
  padding: 200px 452px 280px 452px;
  box-sizing: border-box;
}

.first-section-element {
  box-sizing: border-box;
  margin-bottom: 30px;
}

.assets {
  display: flex;
  list-style: none;
  padding: 0 215px 0 215px;
}
.assets-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}

.li-assets:not(:last-child) {
  margin-right: 30px;
}

.assets-description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.about-us {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  list-style: none;
}

.team {
  background-color: #f5f4fa;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}
